@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    background-color: #14161a;
}

.dark {
    color-scheme: dark;
}

:root {
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgb(226 232 240);

    --color-secondary: #f0761d;
}

.bg-main {
    background-color: #14161a;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexStart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

* {
    scroll-behavior: smooth;
}

/* media for custom scroll-bar */
@media screen and (min-width: 1024px) {
    .custom_scroll::-webkit-scrollbar {
        width: 14px;
    }

    .custom_scroll::-webkit-scrollbar-thumb {
        background-color: #282828;
    }

    .custom_scroll::-webkit-scrollbar-thumb:hover {
        background-color: #303030;
    }

    .custom_scroll::-webkit-scrollbar-thumb:active {
        background-color: #373737;
    }

    .custom_scroll::-webkit-scrollbar-track {
        background-color: #2828287f;
    }

    .custom_scroll::-webkit-scrollbar-button {
        display: block;
        background-color: aliceblue;
        background-size: cover;
    }

    .custom_scroll::-webkit-scrollbar-button:vertical:decrement {
        background: url("./assets/scroll-icons/arrow-up.svg") center/cover
            no-repeat #2828287f;
    }

    .custom_scroll::-webkit-scrollbar-button:vertical:decrement:hover {
        background: url("./assets/scroll-icons/arrow-up-hover.svg") center/cover
            no-repeat #2828289e;
    }

    .custom_scroll::-webkit-scrollbar-button:vertical:decrement:active {
        background: url("./assets/scroll-icons/arrow-up-active.svg")
            center/cover no-repeat #3939399e;
    }

    .custom_scroll::-webkit-scrollbar-button:vertical:increment {
        background: url("./assets/scroll-icons/arrow-down.svg") center/cover
            no-repeat #2828287f;
    }

    .custom_scroll::-webkit-scrollbar-button:vertical:increment:hover {
        background: url("./assets/scroll-icons/arrow-down-hover.svg")
            center/cover no-repeat #2828289e;
    }

    .custom_scroll::-webkit-scrollbar-button:vertical:increment:active {
        background: url("./assets/scroll-icons/arrow-down-active.svg")
            center/cover no-repeat #3939399e;
    }

    .custom_scroll::-webkit-scrollbar-button:vertical:start:increment,
    .custom_scroll::-webkit-scrollbar-button:vertical:end:decrement {
        display: none;
    }
}
@media screen and (min-width: 1700px) {
    .custom_scroll::-webkit-scrollbar {
        width: 20px;
    }

    .custom_scroll::-webkit-scrollbar-button:vertical:increment,
    .custom_scroll::-webkit-scrollbar-button:vertical:decrement {
        height: 30px;
    }
}
@media screen and (min-width: 2080px) {
    .custom_scroll::-webkit-scrollbar {
        width: 25px;
    }

    .custom_scroll::-webkit-scrollbar-button:vertical:increment,
    .custom_scroll::-webkit-scrollbar-button:vertical:decrement {
        height: 50px;
    }
}

.rating p {
    opacity: 0;
}

.rating:hover p {
    opacity: 1;
}

.slide_info {
    height: calc(100% - 0px);
}

.slide_info .overview {
    opacity: 0;
    height: 0;
    overflow-y: scroll;
    transition: opacity 0.7s ease-in-out, height 0.5s linear;
}

.slide_info .overview::-webkit-scrollbar {
    width: 0;
}

.slide_info:hover .overview {
    opacity: 1;
    height: 100%;
}

.slide_info:hover .slide-description {
    opacity: 0;
}

.show {
    opacity: 1;
}

.menu_open {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu_close:nth-child(1) {
    transform: rotate(45deg) translate(9px, 5px);
    transition: ease-out 0.5s;
}
.menu_close:nth-child(2) {
    transform: scale(0.1);
    opacity: 0;
    transition: ease-out 0.5s;
}
.menu_close:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -5px);
    transition: ease-out 0.5s;
}

@layer utilities {
    .gridBox {
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }

    .gridBox-min {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .custom__arrow-secondary svg {
        fill: var(--color-secondary);
    }

    

    .genre-icons svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .genre-icons-xl svg {
        width: 2.5rem;
        height: 2.5rem;
    }

    .custom__arrow-unset svg {
        width: unset;
        height: unset;
        fill: unset;
    }

    .custom__arrow-xl svg {
        width: 48px;
        height: 48px;
        fill: var(--color-secondary);
    }

    .custom__arrow-xxl svg {
        width: 68px;
        height: 68px;
    }
}
