@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    background-color: #14161a;
}
:root {
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgb(226 232 240);
}

.bg-main {
    background-color: #14161a;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexStart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

* {
    scroll-behavior: smooth;
}

.custom_scroll::-webkit-scrollbar {
    width: 10px;
}
.custom_scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #282828;
}
.custom_scroll::-webkit-scrollbar-track {
    background-color: #2828287f;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2e2e2e;
}

::-webkit-scrollbar-track {
    background-color: rgba(40, 40, 40, 0.5);
}

.gridBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 20px;
}

.rating p {
    opacity: 0;
}

.rating:hover p {
    opacity: 1;
}

.slide_info {
    height: calc(100% - 2px);
}

.slide_info .overview {
    opacity: 0;
    height: 0;
    overflow-y: auto;
    transition: opacity 0.7s ease-in-out, height 0.5s linear;
}

.slide_info .overview::-webkit-scrollbar {
    width: 0;
}

.slide_info:hover .overview {
    opacity: 1;
    max-height: 100px;
    height: 100%;
}

.slide_info:hover .slide-description {
    opacity: 0;
}

.show {
    opacity: 1;
}

.menu_open {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu_close:nth-child(1) {
    transform: rotate(45deg) translate(9px,5px);
    transition: ease-out 0.5s;
}
.menu_close:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
}
.menu_close:nth-child(3) {
    transform: rotate(-45deg) translate(10px,-5px);
    transition: ease-out 0.5s;
}